@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body, #board {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

.main {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 100px;
	height: 100px;

	background-color: rgba(100, 200, 255, 0.1);
}

.element {
	border: 1px none grey;
	border-radius: 10px;
	cursor: pointer;
	display: inline-block;
	min-width: 50px;
	opacity: 0;
	padding: 5px;
	position: absolute !important;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	user-select: none;
	z-index: 1;
}

.fire {
	background-color: rgba(256, 238, 0, 0.4);
	color: red;
}

.water {
	background-color: rgba(0, 200, 230, 0.3);
	color: #009696;
}

.earth {
	background-color: rgba(160, 82, 45, 0.3);
	color: sienna;
}

.air {
	background-color: rgba(204, 238, 256, 0.5);
	color:#AAAAAA;
}

.ui-draggable-dragging {
	z-index: 2;
}

.ui-selecting { 
	border: 2px solid !important; 
}

.ui-selectable-helper { 
	border: 1px dotted black !important; 
	background-color: rgba(100, 200, 255, 0.1);
}